.gridContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;
    border: 2px solid black;
}

.gridSquare {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
