body {
    background-color: rgb(237, 237, 237);
    font-family: 'Chakra Petch', sans-serif;
}

.sizeButtonContainer button {
    margin: 5px;
}
.sizeInputContainer label {
    margin-right: 5px;
}
.colourContainer button {
    margin: 10px;
    width: 110px;
}

.sizeTitle,
.sizeInputContainer,
.sizeButtonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    padding-bottom: 10px;
}
.sizeInputContainer {
    padding-bottom: 10px;
}

.gridColourContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 129px;
}

.colourContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
    padding-right: 10px;
}

.gridContainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    width: 500px;
    height: 500px;
    margin: 0;
    padding: 0;
    border: 2px solid black;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}

.gridSquare {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

button {
    border: 1px solid black;
    background-color: white;
}

button:hover {
    background-color: lightgray;
}
button:active {
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.5);
}